
@{
    ViewData["Title"] = "SDSComApps Menu";
}

<h2>Application Menu</h2>

<div id="divMain">

    <div id="divAuthor" class="modcard">
        <div class="card-body">
            <h4 class="card-title">Administration Application</h4>
            <p class="card-text">This is the module you have always wanted for Administration.</p>
            <a class="btn-link" asp-action="Administrator" asp-controller="Home" id="hlAdmin">Administrator </a>
        </div>
    </div>

    <div id="divAuthor" class="modcard">
        <div class="card-body">
            <h4 class="card-title">SDS Authoring Application</h4>
            <p class="card-text">This is the module you have always wanted for products.</p>
            <a class="btn-link" asp-action="Index" asp-controller="Author" id="hlAuthor">Author</a>
        </div>
    </div>

</div>


