
@{
    ViewData["Title"] = "SDSComApp Menu";
}

<h2>SDSComApp Menu</h2>

<div class="row">

    <div>
        <label class="label">Select a module</label>
        <br />
        <a class="btn-link" asp-action="Index" asp-controller="Author" id="hlAuthor">Author </a>
        <br />
        <br />
        <label class="label">Administrator</label>
        <br />
        <a class="btn-link" asp-action="Administrator" asp-controller="Home" id="hlAdmin">Administrator </a>

    </div>

</div>

