@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Login" asp-controller="Home">

    <div>

        Login to the SDSCom Applications
        <br />
        <br />
        <input class="btn-primary" type="submit" id="btnLogin" value="Login" />

    </div>
</form>