@model SDSComApps.Models.InformationFromExportingSystem

@{
    ViewData["Title"] = "Identification of the Substance or Preparation.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Identification of the Substance or Preparation.</h2>