
@{
    ViewData["Title"] = "AuthorStart";
}

<h2>Author Start</h2>

<label class="label">Product Actions</label>
<br />
<a class="btn-link" asp-action="Index" asp-controller="Product" id="hlAuthor">Add Product</a>
