
@{
    ViewData["Title"] = "Author Start";
}


<h2>Author Start</h2>
<div id="divMain">

    <div id="divProductModule" class="modcard">
        <div class="card-body">
            <h4 class="card-title">Product Module</h4>
            <p class="card-text">This is the module you have always wanted for products.</p>
            <a asp-action="Index" asp-controller="Product" id="hlPhrase">View Products</a>
        </div>
    </div>

    <div id="divSubstanceModule" class="modcard">
        <div class="card-title">
            Substance Module
        </div>
        <div class="card-body">
            <p class="card-text">This is the module you have always wanted for Substances.</p>
            <a asp-action="Index" asp-controller="Substance" id="hlSubstances">View Substances</a>
        </div>
    </div>

    <div id="divPhraseModule" class="modcard">
        <div class="card-title">
            Phrase Module
        </div>
        <div class="card-body">
            <p class="card-text">This is the module you have always wanted for phrases.</p>
            <a asp-action="Phrase" asp-controller="Product" id="hlPhrase">View Phrases</a>
        </div>
    </div>

    <div id="divDocumentModule" class="modcard">
        <div class="card-title">
            Document Module
        </div>
        <div class="card-body">
            <p class="card-text">This is the module you have always wanted for Document.</p>
            <a asp-action="Index" asp-controller="Document" id="hlDocument">View Documents</a>
        </div>
    </div>

</div>