
@{
    ViewData["Title"] = "SDSCom Application Administrator";
    Layout = "_Layout";
}

<h2>SDSCom Application Administrator</h2>
<br />
<br />
<input type="button" value="Clear Cache" class="btn-danger" onclick="clearCache()" />
<br />
<br />

<input type="button" value="View API Documentation" class="btn-link" onclick="showSwagger()" />

<script>

    function clearCache() {
        $.ajax({
            url: "Administrator/Administrator/ClearCache",
            success: function (data) {
                if (data.success === true) {
                    alert("Success");
                }
            }
        });
    }

    function showSwagger()
    {
        window.open("swagger");
    }


</script>