
@{
    ViewData["Title"] = "Application Settings";
}

<h2>Application Settings</h2>

<table style="width: 67%; margin: 0 auto 2em auto;" border="0" cellspacing="0" cellpadding="3">
    <thead>
        <tr>
            <th>Target</th>
            <th>Search text</th>
            <th>Treat as regex</th>
            <th>Use smart search</th>
        </tr>
    </thead>
    <tbody>
        <tr id="filter_global">
            <td>Global search</td>
            <td align="center"><input class="global_filter" id="global_filter" type="text"></td>
            <td align="center"><input class="global_filter" id="global_regex" type="checkbox"></td>
            <td align="center"><input class="global_filter" id="global_smart" type="checkbox" checked="checked"></td>
        </tr>
        <tr id="filter_col1" data-column="0">
            <td>Column - Area</td>
            <td align="center"><input class="column_filter" id="col0_filter" type="text"></td>
            <td align="center"><input class="column_filter" id="col0_regex" type="checkbox"></td>
            <td align="center"><input class="column_filter" id="col0_smart" type="checkbox" checked="checked"></td>
        </tr>
        <tr id="filter_col2" data-column="1">
            <td>Column - Setting</td>
            <td align="center"><input class="column_filter" id="col1_filter" type="text"></td>
            <td align="center"><input class="column_filter" id="col1_regex" type="checkbox"></td>
            <td align="center"><input class="column_filter" id="col1_smart" type="checkbox" checked="checked"></td>
        </tr>
        <tr id="filter_col3" data-column="2">
            <td>Column - DataValue</td>
            <td align="center"><input class="column_filter" id="col2_filter" type="text"></td>
            <td align="center"><input class="column_filter" id="col2_regex" type="checkbox"></td>
            <td align="center"><input class="column_filter" id="col2_smart" type="checkbox" checked="checked"></td>
        </tr>
    </tbody>
</table>
<table id="settingTable" class="display" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th>Area</th>
            <th>Setting</th>
            <th>DataValue</th>
        </tr>
    </thead>
</table>

@section scripts
    {
    <script>
            $(document).ready(function () {
                $('#settingTable').DataTable({
                    "processing": true,
                    "pagingType": "full_numbers",
                    "serverSide": true,
                    "ajax": {
                        "url": "/administrator/getallapplicationsettings",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns":
                    [
                        { "data": "area", "name": "Area", "autoWidth": true },
                        { "data": "setting", "name": "Setting", "autoWidth": true},
                        { "data": "dataValue", "name": "DataValue"}
                    ]
                });

                $('input.global_filter').on('keyup click', function (e)
                {
                    if (e.which == 13) {
                        filterGlobal();
                    }
                });

                $('input.column_filter').on('keyup click', function (e) {
                    if (e.which == 13) {
                        filterColumn($(this).parents('tr').attr('data-column'));
                    }
                });

                function filterGlobal() {
                    $('#settingTable').DataTable().search(
                        $('#global_filter').val(),
                        $('#global_regex').prop('checked'),
                        $('#global_smart').prop('checked')
                    ).draw();
                }

                function filterColumn(i) {
                    $('#settingTable').DataTable().column(i).search(
                        $('#col' + i + '_filter').val(),
                        $('#col' + i + '_regex').prop('checked'),
                        $('#col' + i + '_smart').prop('checked')
                    ).draw();
                }

            });



    </script>
}
